@media screen and (min-width: 992px)
#main-container {
    padding-left: 0;
    padding-right: 30px;
}
@media (min-width: 768px)
.col-sm-6 {
    width: 50%;
}
@media (min-width: 768px)
.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left;
}
.col-xs-12 {
    width: 100%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    
    background-color: #0e0e0e;
    color: #fff;
    font-family: open sans,sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100%;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #000;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
::selection {
    background: #e3e3e3;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@media screen and (min-width: 768px)
.default-section-header {
    border-radius: 5px;
}
.default-section-header {
    border: none;
    color: #8e8e93;
    padding: 9px 12px;
    margin-bottom: 15px;
    overflow: hidden;
    border-radius: 100px;
}
.grey-background {
    background: #94436c;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* box-sizing: border-box; */
}
user agent stylesheet
header {
    display: block;
}

.default-section-header h1 {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 700;
    color: #fff;
}
header h1 {
    padding: 0;
    margin: 0;
}
.h1, h1 {
    font-size: 36px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
h1 {
    margin: .67em 0;
    font-size: 2em;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* box-sizing: border-box; */
}
user agent stylesheet
:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

article.gallery-item {
    position: relative;
    margin-bottom: 2em;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* box-sizing: border-box; */
}

article.gallery-item {
    position: relative;
    margin-bottom: 2em;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
div.item-aux-container {
    position: relative;
}
@media screen and (min-width: 768px)
header.item-header {
    border-radius: 5px 5px 0 0;
}
header.item-header, header.item-header-detail div.row {
    width: 100%;
    max-width: 100%;
    background-color: #1d1d1d;
    word-break: break-word;
    overflow: hidden;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
a.item-header-title, a.item-header-title:link, a.item-header-title:visited {
    color: #fff;
    text-decoration: none;
}
a, a:hover, a:active, a:focus {
    outline: none;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}

div.header-item-info {
    padding: .25em .8em;
    background-color: #9cbc38;
    font-size: .9em;
}

.green-3 {
    color: #394713;
}
div.header-item-info a, div.header-item-info a:link, div.header-item-info a:visited, div.header-item-info a:hover {
    color: #fff;
    font-weight: 700;
}
div.header-item-info time {
    float: right;
}


.re:not(.u-title) {
    font-weight: 800;
    font-size: 3rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.default-section-header h1 {
    display: inline-block;
    font-size: 1.1em;
    font-weight: 700;
    color: #f7c7b1;
}
header h1 {
    padding: 0;
    margin: 0;
}



article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
    display: block;
}
body, aside, .u-sidebar-block, section, header, footer {
    position: relative;
}
header {
    background-color: #654646;
}
*, *:before, *:after {
    box-sizing: border-box;
}


nav ul {
    list-style-type: none;
}

.linear-gradient {
    background: linear-gradient(blue, white);
}


nav ul li {
    float: right;
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #212121;
}

nav a {
    display: block;
    text-decoration: none;
    color: #fff1f1;
    border-bottom: 2px solid transparent;
    padding: 25px 0px;
}

.deroulant > a::after {
    content: " ⬇";
    font-size: 12px;
}

.sous {
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav ul {
    list-style-type: none;
}

.sous li {
    float: none;
    width: 100%;
    text-align: left;
}
nav ul li {
    float: right;
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #212121;
}

.sous a {
    padding: 10px;
    border-bottom: 1px solid black;
    font-family: Verdana;
    font-weight: lighter;
}
nav a {
    display: block;
    text-decoration: none;
    color: #fff1f1;
    border-bottom: 2px solid transparent;
    padding: 25px 0px;
}

nav ul::after {
    content: "";
    display: table;
    clear: both;
}

.linear-gradient {
    background: linear-gradient(blue, white);
}
nav {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}
* {
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
}
nav a:hover{
    color: white;
    border-bottom: 0.5px solid white;
}
nav > ul li:hover .sous{
    display: block;
}
.sous a:hover{
    border-bottom: 3px solid red;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    content:" ⬇";
    font-size: 12px;
}
