*{
  margin-top: 0;
  
}



.premiere{

	background-color: red;
}



#poto{

	text-align: center;
	font-family: fantasy;
}

#ptit{

	text-align: center;
	font-size: 15px;
}

#RER{

    font-family: bold;
    text-align: center;
    font-size: 26px;
}


#photo1{

	float: right;
	padding-right: 350px;
}

.deuxieme{

   
	background-image: url(burger-unscreen.gif);

	background-repeat: no-repeat;
	padding-bottom: 200px;
	background-position: top;
}

#deplacer{
	padding-top: 150px;
	padding-left: 50px;
}

#ENBAS{

	text-align: center;
	background-color: green;
	padding-bottom: 30px;
	padding-top: 30px;
	margin-bottom: 0px;

}

body{

	margin-bottom: 0px;
	margin: 0px;
	background-color: yellowgreen;
}

.troisieme2{

	padding-right: 150px;
}

.troisieme3{

	padding-right: 120px;
}

.trosieme5{

	
	padding-right: 100px;
}

.troisieme6{

	padding-right: 100px;
}

.troisieme8{

	padding-right: 100px;
}